{% block standardText %}
<div class="{{ classes }}">
    <div class="l-container threeColumnText__inner">
        <div class="threeColumnText__row">
            <article class="entryContent threeColumnText__column threeColumnText__column--1">
                {{ column1 }}
            </article>
            <article class="entryContent threeColumnText__column threeColumnText__column--2">
                {{ column2 }}
            </article>
            <article class="entryContent threeColumnText__column threeColumnText__column--3">
                {{ column2 }}
            </article>
        </div>
    </div>
</div>
{% endblock %}
