{% block standardText %}
<div class="{{ classes }}">
    <div class="l-container--small twoColumnText__inner">
        <div class="twoColumnText__row">
            <article class="entryContent twoColumnText__column twoColumnText__column--1">
                {{ column1 }}
            </article>
            <article class="entryContent twoColumnText__column twoColumnText__column--2">
                {{ column2 }}
            </article>
        </div>
    </div>
</div>
{% endblock %}
