.twoColumnCards {
    background: $color1--light;
    padding: 4rem 0 0;
    
    .cards {
        background: none;
        padding: 0;
    }

    .card,
    .cards__row:after {
        flex-basis: 49%;

        @media screen and ( max-width: 850px ) {
            flex-basis: 100%;
        }
    }

    .card__image {
        max-width: 160px;
        background-size: 100%;
        background-position: center;
        margin: 0 auto;
        background-repeat: no-repeat;

        @media screen and ( max-width: 980px ) {
            max-width: 100px;
        }

        @media screen and ( max-width: 850px ) {
            max-width: 230px;
        }

        @media screen and ( max-width: 600px ) {
            max-width: 160px;
        }
    }

    .card__row {
        @include flexRow;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: unset;
    }

    .card__imageWrap {
        flex-basis: 40%;
        height: 100%;
    }

    .card__image {
        background-size: 100%;
        max-width: 170px;
        height: 100%;

        @media screen and ( max-width: 1150px ) {
            max-width: 120px;
        }
    }

    .card__contentWrap {
        flex-basis: 60%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}
.threeColumnCards__header {
    @include flexRow();
    justify-content: space-between;
    margin-bottom: 2rem;

    @media screen and ( max-width: 768px ) {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.threeColumnCards__title {
    font-size: trem(36px)
}

.threeColumnCards__cta {
    @include button;
}