{% block standardText %}
<div class="{{ classes }}">
    <div class="l-container--small standardText__inner">
        <article class="entryContent">
            {{ content }}
        </article>
    </div>
</div>
{% endblock %}
